# Default ignored files
/.idea
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
#ignoring specific files
src/main/resources/people
src/main/resources/stockpile
DataBase.json
Users.json
src/main/resources/tiles.zip
src/main/resources/buildings & people.zip